:root{
  --traingle-color: rgba(255, 173, 138, 0.5);
  --light-peach: rgba(255, 173, 138, 0.62);
  --medium-peach: rgba(255, 132, 80, 0.79);
  --dark-peach: rgba(255, 92, 22, 0.79);
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

.home-container{
  background-image: linear-gradient(135deg, var(--traingle-color), var(--traingle-color) 20%, var(--light-peach) 20%, var(--light-peach) 80%);
  padding: 2rem;
}

header a{
  color: var(--medium-peach);
  font-size: max(1rem, 1.5vw);
}

header a:hover{
  color: white;
  transition: all 0.25s;
}

nav a{
  padding: 0 1.5rem;
}

.header-container{
  display: flex;
  justify-content: space-between;
}

.hero-container{
  display: flex;
  align-items: center;
}

.hero-container h2{
  color: white;
  width: 40%;
  font-size: max(1.75rem, 3.5vw);
  margin: 12rem 0;
}

.hero-container .arrow{
  color: white;
  font-size: max(5rem, 10vw);
  padding: max(4rem, 8vw);
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.hero-container a{
  color: white;
  border: 3px solid var(--dark-peach);
  padding: max(1rem, 2vw);
  font-size: max(1.25rem, 2.25vw);
  margin: 2rem;
  text-align: center;
}

.hero-container a:hover{
  color: var(--dark-peach);
  transition: all 0.25s;
}

.coding-container h2{
  color: var(--medium-peach);
  margin: 3rem auto;
  font-size: max(1.5rem, 2.5vw);
  border: 2px solid var(--medium-peach);
  width: 25%;
  text-align: center;
  padding: 1rem;
}

.line{
  height: 1px;
  width: 60%;
  background-color: var(--dark-peach);
}

.coding-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure{
  display: flex;
  align-items: center;
  justify-content: center;
}

figure a{
  width: clamp(200px, 50%, 500px);
}

figure img{
  width: 100%;
}

figcaption{
  width: 20%;
  text-align: center;
  font-size: max(0.75rem, 1.5vw);
}

.art-container{
  background-color: var(--light-peach);
  padding: 1rem;
}

.art-container h2{
  color: white;
  margin: 3rem auto;
  font-size: max(1.5rem, 2.5vw);
  border: 2px solid white;
  width: 25%;
  text-align: center;
  padding: 1rem;
}

.drawings{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 6rem;
}

.drawings img{
  width: 300px;
  height: 204px;
  object-fit: cover;
}

.drawings img:hover{
  transform: scale(1.1);
  transition: all 0.25s;
}

.drawings a{
  height: 204px;
  overflow: hidden;
}

footer{
  background-color: var(--dark-peach);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.75rem 2rem;
}

.right-footer{
  display: flex;
  align-items: center;
}

.right-footer a{
  color: white;
  margin-left: 2rem;
}

.right-footer a:hover{
  font-size: 1.2rem;
  margin-left: 1.8rem;
}

.fas fa-bars{
  display: none;
}

#menu {
  display: none;
  background: white;
  height: 110vh;
  width: clamp(5rem, 30%, 20vw);
  float: right;
  margin-top: -3.75rem;
  margin-right: -2rem;
  animation: menu-close 0.25s linear forwards;
}

.side-nav a:hover{
  color: var(--dark-peach);
}

#open-menu{
  display: none;
}

#close-menu{
  display: none;
  margin-right: max(5rem, 20vw);
}

.hide{
  display: none;
}

#hide{
  display: none;
}


.about-me{
  display: flex;
  background-color: var(--light-peach);
  color: white;
}

.about-me img{
  width: clamp(200px, 40%, 600px);
  object-fit: cover;
}

.about-me a{
  float: right;
  margin: 1rem;
  color: var(--dark-peach);
  font-size: max(0.75rem, 1.75vw);
}

.about-me i:hover{
  color: white;
  transition: all 0.25s;
}

.about-me h2{
  border: 2px solid var(--dark-peach);
  padding: max(0.5rem, 1vw);
  margin: 2rem auto;
  font-size: max(1.25rem, 2.25vw);
  width: 30%;
  text-align: center;
}

.about-me p{
  text-align: center;
  font-size: max(0.75rem, 1.75vw);
  margin: 2rem;
}

.dogs-about{
  display: flex;
  float: right;
}

.dogs-about img{
  width: 35vw;
  float: right;
}

.dogs-text{
  font-size: max(0.75rem, 1.75vw);
  color: var(--medium-peach);
  padding: 0 max(5rem, 15vw);
  text-align: center;
  margin: auto 0;
  display: flex;
  align-content: center;
}

.dogs-text .arrow{
  color: var(--dark-peach);
  margin: auto 0;
  padding: 2rem;
  font-size: max(2rem, 4vw);
}


@keyframes arrow {
  0%{
    transform: translateX(-5px)
  }

  100%{
    transform: translateX(5px);
  }
}

@media screen and (max-width: 600px){
  #first-arrow{
    display: none;
  }

  #hide{
    display: block;
  }

  #open-menu{
    display: inline-block;
  }

  .side-nav a{
    color: var(--medium-peach);
    font-size: 1.25rem;
  }

  ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: column;
    height: 42rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-container{
    display: none;
  }

  header i{
    color: var(--medium-peach);
    font-size: 1.5rem;
  }

  header i:hover{
    color: white; 
  }

  .hero-container h2{
    margin-bottom: 0;
    margin-top: 8rem;
    width: 90%;
    text-align: center;
  }

  .coding-container h2{
    width: 60%;
  }

  figure{
    flex-direction: column;
  }

  figure a{
    width: clamp(200px, 95%, 600px);
  }

  figcaption{
    width: 100%;
    font-size: 1rem;
  }

  .line{
    margin-top: 1.5rem;
  }

  .art-container h2{
    width: 60%;
  }

  .drawings{
    width: 80%;
  }

  footer{
    flex-direction: column;
  }

  footer p{
    margin-left: 2rem;
  }

  .hero-container a{
    margin-top: 0;
  }

  @keyframes arrow {
    0%{
    transform: translateY(-5px)
    }

    100%{
    transform: translateY(5px);
    }
  }

  .arrow{
    padding: 0;
  }

  .about-me{
    flex-direction: column-reverse;
  }

  .about-me h2{
    font-size: max(1.75rem, 3vw)
  }

  .about-me i{
    font-size: max(1rem, 2vw);
  }

  .about-me img{
    width: 100%;
    height: 300px;
  }

  .about-me p{
    display: none;
  }

  .about-me #hide{
    font-size: max(1rem, 2vw);
    margin: 1rem 2rem;
  }

  .dogs-about{
    flex-direction: column-reverse;
  }

  .dogs-text{
    flex-direction: column-reverse;
    padding: 1rem;
    font-size: max(1rem, 2vw);
  }

  .dogs-text .arrow{
    padding: 0;
  }

  .dogs-about img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .hero-container{
    flex-direction: column;
    align-content: center;
  }
}

@keyframes menu-open {
  0%{
    transform: translateX(7rem);
  }

  100%{
    transform: translateX(0);
  }
}

@keyframes menu-close {
  0%{
    width: 30%;
    transform: translateX(0);
  }

  100%{
    width: 0%;
    transform: translateX(7rem);
  }
}
